{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class = table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Type</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% if n > 0 %}
            {% for i in range(n) %}
            <tr>
                <td>{{history[i]["symbol"]}}</td>
                <td>{{history[i]["name"]}}</td>
                <td>{{history[i]["shares"]}}</td>
                <td>{{history[i]["price"] | usd}}</td>
                <td>{{history[i]["type"]}}</td>
                <td>{{history[i]["time"]}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
